<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <div class="container">
        <h1>Hello</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum, blanditiis ea! Natus molestias cupiditate,
            optio assumenda itaque unde nisi a ut, culpa vel iusto velit? Similique doloremque suscipit nisi doloribus!
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Enim soluta placeat fuga quo? Similique, dolorum
            iure? Commodi velit iusto iure mollitia porro sint suscipit sed alias, aperiam autem distinctio maiores.
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Alias, id maxime reiciendis nesciunt enim,
            incidunt dolorem ut sunt sint aliquam, consequuntur quisquam eos deserunt minima obcaecati. Quam ipsam
            libero obcaecati?
        </p>
    </div>
</body>

</html>